.pcHeader
  .headerInner
    .mainHeader
      .icon
        = link_to "#" do
          .furima-icon
          
      .searchBox
      .resultLists
  .nav
    .listsLeft
      = link_to "#" do
        .listsLeft__itemlistsLeft__item--first
          カテゴリー
      .treedisplayNone
        /商品一覧の出力先
        .categoryTree
          .categoryTree--item
      = link_to "#" do
        .listsLeft__item
        ブランド
          
    .listsRight
      = link_to "#" do
        .listsRight__itemlistsRight__item--login
          ログイン
      .listsRight__itemlistsRight__item--new
        = link_to "#" do
          新規会員登録

.main
  .mainVisual
    .content
      .content__subtitle
      .content__text
      .content__btn
        .aBtn
        .gBtn
      .picture
  .topIntroduction
    .subtitle
    .lists
      .list
        .list__pict
          .number
        .list__text
        .list__description
      .list
        .list__pict
          .number
        .list__text
        .list__description
      .listlist--last
        .list__pict
          .number
        .list__text
        .list__description
  .topMiddleDl
    .topMiddleDl__inner
      .subtitle
      .text
      .btn
  .topKeyFeatures
    .head
    .items
      .item
        .item__img
        .item__subtitle
        .item__detail
      .item
        .item__img
        .item__subtitle
        .item__detail
      .item
      .item__img
      .item__subtitle
      .item__detail
  .pickupContainer
    .head
    .productBox
      .productHead
        = link_to "#" do
          .title
  .productLists
    .productList
      = link_to "#" do
    .productList
      = link_to "#" do
        .productList--img
        .productList--body
          .name
          .details
            .fafa-starlikeIcon
    .productList
      = link_to "#" do
        .productList--img
        .productList--body
          .name
          .details
    .productList
      = link_to "#" do
        .productList--img
        .productList--body
          .name
          .details
    .productList
      = link_to "#" do
        .productList--img
        .productList--body
          .name
          .details
  .pickupContainer
    .head
    .productBox
      .productHead
        = link_to "#" do
          .title
      .productLists
        .productList
          = link_to "#" do
            .productList--img
            .productList--body
              .name
              .details
        .productList
          = link_to "#" do
            .productList--img
            .productList--body
              .name
              .details
                .fafa-starlikeIcon
        .productList
          = link_to "#" do
            .productList--img
            .productList--body
              .name
              .details
                .fafa-starlikeIcon
        .productList
          = link_to "#" do
            .productList--img
            .productList--body
              .name
              .details
                .fafa-starlikeIcon
        .productList
          = link_to "#" do
            .productList--img
            .productList--body
              .name
              .details
                .fafa-starlikeIcon
.main
  .inner
    .inner__title
    .inner__text
    .inner__icon
      = link_to "#" do
        .linkIconaBtn
      = link_to "#" do
        .linkIcongBtn
.footer
  .contents
    .content
      .content__head
    .content
      .content__head
    .content
      .content__head
  .footer__logo
    = link_to "#" do
  .purchaseBtn
    .purchaseBtn__text
    .purchaseBtn__icon
